$font-stack: Helvetica, sans-serif;
$primary-color: #b7b7b7;
$secondary-color: #585858;
$brand-color: #f8cb32;

$button_primary: #6364d7;
$button_secondary: #393ab1;

$facebook-color: #4267b2;
$twitter-color: #3aa1f2;
